header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 10px;
  height: 80px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-right: 10px;
}

main {
  padding: 20px;
}

footer {
  text-align: center;
  background-color: #f4f4f4;
  padding: 10px;
}
